.title {
  text-align: center;
  margin: 20px 0;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-items: center;
  row-gap: 20px;
}

.car-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.car-item img {
  width: auto;
  height: 150px;
  border-radius: 5px;
}