.title {
  text-align: center;
  margin: 20px 0;
}

.dropdown-container {
  margin-left: 5%;
  margin-bottom: 1%;
  position: relative;
  display: inline-block;
}

.dropdown {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown:hover {
  background-color: #0056b3;
}

.dropdown-content {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 120px;
}

.checkmark {
  margin-left: auto;
  font-size: 16px;
  color: #28a745;
  padding-right: 5px;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.compare-button {
  margin-left: 5%;
  margin-bottom: 1%;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.compare-button.inactive {
  background-color: #d9534f;
}

.compare-button.active {
  background-color: #28a745;
  transform: scale(1.05);
}

.compare-button.inactive:hover {
  background-color: #c9302c;
}

.compare-button.active:hover {
  background-color: #218838;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-items: center;
  row-gap: 20px;
}

.car-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-item.compare {
  background-color: green;
}

.car-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.car-item img {
  width: auto;
  height: 150px;
  border-radius: 5px;
}

