/* CompareModal.css */
.main {
    background-color: rgba(0, 0, 0, 0.9);
}

.card {
    background-color: white;
    padding: 40px;
    width: 500px;
    max-width: 90%;
    margin: 10px;
    flex-shrink: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .car-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 15px;
        margin: 20px auto;
    }

    .title {
        font-size: 2rem;
        margin: 20px 0;
    }

    .dropdown-container {
        margin: 5px;
    }

    .compare-button {
        margin: 5px;
    }

    .card {
        padding: 20px;
    }

    .image img {
        width: 90%;
    }

    .details {
        flex-direction: column;
    }

    .details .left,
    .details .right {
        width: 100%;
    }
}